@inject IViewProjectsByNameUseCase viewProjectsByNameUseCase
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

@if (_loading)
{
	<div class="d-flex justify-center align-center mt-12" style="min-height: 40vh;">
		<MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
	</div>
}
else if (projects == null || projects.Count == 0)
{
	<MudPaper Class="d-flex flex-column align-center justify-center pa-12 mt-6" Elevation="0" Outlined="true">
		<MudIcon Icon="@Icons.Material.Outlined.FolderOff" Size="Size.Large" Class="mb-3" Color="Color.Default" />
		<MudText Typo="Typo.h6">No projects found</MudText>
		<MudText Typo="Typo.body2" Color="Color.Secondary">Create a new project to get started.</MudText>
	</MudPaper>
}
else
{
	<MudGrid Spacing="@spacing" Class="mt-2">
		@foreach (var project in projects)
		{
			<MudItem xs="12" sm="6" md="4">
				<ProjectsListItemComponent project="@project" />
			</MudItem>
		}
	</MudGrid>
}


@code {
	private List<Project> projects;
	private bool _loading = true;
	public int spacing { get; set; } = 2;

	[Parameter]
	public bool reloadFlag { get; set; }

	[Parameter]
	public string searchTerm { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		_loading = true;

		var result = await viewProjectsByNameUseCase.ExecuteAsync(this.searchTerm);

		if (result.Value != null)
			projects = result.Value.ToList();
		else
		{
			Snackbar.Add(result.Reason, result.severity);
			NavigationManager.NavigateTo("/");
		}

		_loading = false;
	}
}
