@inject NavigationManager NavigationManager
<div class="d-flex justify-center" style="margin-top: 8vh;">
	<MudCard Elevation="4" Style="width: 100%; max-width: 460px;">
		<MudCardContent Class="d-flex flex-column align-center text-center pa-8">
			<MudIcon Icon="@Icons.Material.Outlined.Lock" Size="Size.Large" Color="Color.Primary" Class="mb-3" />
			<MudText Typo="Typo.h6" Class="mb-1">Access restricted</MudText>
			<MudText Typo="Typo.body2" Color="Color.Secondary">Please log in to see this content.</MudText>
		</MudCardContent>
		<MudCardActions Class="justify-center px-8 pb-8">
			<MudButton OnClick="RedirectToLogin" Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Login" FullWidth="true">Login</MudButton>
		</MudCardActions>
	</MudCard>
</div>

@code {
	void RedirectToLogin()
	{
		NavigationManager.NavigateTo("/login", true);
	}
}
